main{
  background-color: #2b2f35;
}

.main {
  padding-top: 20px;
  min-height: 80vh;
  background-color: #2b2f35;
  font-family: 'Ubuntu', sans-serif;
  color: #ced4da;
}

.btn-dark{
  background-color: #18191A;
}

.navbar-dark .navbar-brand {
  color: #ffc107;
  text-align: left;
  margin: auto;
  font-size: 1.4em;
  font-family: 'Permanent Marker', cursive;
}

.navbar-dark {
  background-color: #18191A;
  -webkit-box-shadow: 0 8px 6px 6px #ffc107;
    -moz-box-shadow: 0 8px 6px 6px #ffc107;
    box-shadow: 0 8px 6px -5px #ffc107;
}

.navbarContainer{
  padding-left: 2%;
  padding-right: 2%;
}

.customCard{
  background-color: #18191A;
  -webkit-box-shadow: 0 8px 6px 6px #ffc107;
  -moz-box-shadow: 0 8px 6px 6px #ffc107;
  box-shadow: 0 8px 6px -5px #ffc107;
}